
<footer>

  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">Our Story</a></li>
    <li><a href="#">Our Products</a></li>
    <li><a href="#">Awards</a></li>
    <li><a href="/contact">Contact Us</a></li>
  </ul>

  
</footer>


</footer>
</body>

</html>
