<%- include("partials/header.ejs") %>

<div class="container col-xxl-8">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/products_header.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">All products are halal and veterinary inspected</h1>
        <p class="lead">Farm's Best food Industries Sdn Bhd was incorporated on 25 th November 1989 under companies Act, 1965. The company commenced operation in January 1996 at its 8 ½ acre site at Lot 37 & 38 Masjid Tanah Industrial estate, 78300 Masjid Tanah, Melaka. The company, now a 53.04% owned subsidiary of CAB group, which is the largest poultry integrator in Malaysia.</p>
      </div>
    </div>
  </div>

  <div class="container col-xxl-8">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <p class="lead">FBFI is a key company in the CAB Group's poultry integration business. The group comprises of grandparents farms, broiler parents farms, hatcheries, broiler farms, poultry abattoirs, further processing facilities, supermarket chain and retail stores.
            FBFI with its four divisions principally involved in integrated poultry farming, processing and distribution of live broiler, processed chicken and further processed poultry products.</p>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/omega-chicken.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

  <div class="container col-xxl-8">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/sausages.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Main supplier to the major ‘Quick Serve Restaurants' in the country</h1>
        <p class="lead">FBFI is a key company in the CAB Group's poultry integration business. The group comprises of grandparents farms, broiler parents farms, hatcheries, broiler farms, poultry abattoirs, further processing facilities, supermarket chain and retail stores.
          FBFI with its four divisions principally involved in integrated poultry farming, processing and distribution of live broiler, processed chicken and further processed poultry products.
        </p>  
        
      </div>
    </div>
  </div>

