<%- include("partials/header.ejs") %>
<body>
  <div class="headers zoom-background" style="background-image: url('images/drummet_plate.jpg'); height: 700px;">
        <div class="overlay"></div> <!-- Add an overlay element -->
        <div class="col-md-5 p-lg-5 mx-auto">
            <!-- Separate container for the heading -->
            <div class="heading-container">
                <h2 id="company-title">Farm's Best Food Industries Sdn. Bhd.</h2>
                <h1 id="title" >
                  Only The Best <br> For Your Family</h1>
                <p id="subheading">Named "Best Poultry Farm" <br> by the Ministry of Agriculture, Malaysia</p>
                <a href="\about" class="btn btn-outline-secondary d-inline-flex align-items-center" type="button" style="padding: 10px 20px;color:#F2F2F2;">
                    Read More >
                </a>
            </div>
        </div>
    </div>


<!--Welcome-->
    <div class="px-4 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-4" src="images/logo.jpg">
      <h2 class="display-5 fw-bold custom-heading">Welcome to Farm's Best Food Industries!</h2>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 ">Since 1989, we've been a trusted name in Malaysia's poultry industry. As a subsidiary of the CAB Group, the largest poultry integrator in the country, we bring you top-quality poultry products. Discover our range of fresh chicken and further processed delights, including nuggets and frankfurters, all halal and veterinary inspected.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Read More ></button>
        </div>
      </div>
    </div>
    
<!--Why We're Your Best Choice-->
  <div class="container-marketing">
    <div class="container px-4 py-5" id="custom-cards">
      <h2 class="display-5 border-bottom fw-bold custom-heading text-center">Why We're Your Best Choice</h2>
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('images/fresh\ chicken.png');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-3">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Source of Omega 3, Just Like Salmon</h2>
              
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="images/logo.jpg" alt="farmsbest logo" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                  <small>Omega Chicken</small>
                </li>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('images/nugget.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"> No MSG,<br>No added preservatives</h2>
             
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="images/logo.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                  <small>Nugget</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('images/sausages.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">No trans fat,<br> High in calcium,<br>Natural flavours </h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="images/logo.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                  <small></small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                  <small>Smoked Frank</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    
      <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Our <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">We're proud to supply major 'Quick Serve Restaurants,' and our products are available in leading supermarkets and hypermarkets.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="images/" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
  <%- include("partials/footer.ejs") %>